doctype html
html
    head
        title My react starter
        link(rel='stylesheet', href='styles.bundle.css')

        block head

    body
        block body


        // Javascript files go here
        script(src='app.bundle.js')